body{
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    top: 0;
}

section.header {
  background-image: url("/necessary-documents/photos/hero-man.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999;
}

@media screen and (max-width: 576px) {
    .navbar-dark .navbar-nav .nav-link.active{
        color: black !important;
        text-align: end;
        width: 100px;
    }
    .navbar-nav{
        max-width: 100px;
        margin-left: 70% !important;
    }  
}

nav.nav-scroll{
   position:fixed;
   background-color: #355592;
   z-index: 9999;
}
section.first {
  background-color: #f1f8ff;
}
.p-20{
    padding-left: 20%;
    padding-right: 20%;
}

@media screen and (max-width: 576px) {
    .p-20 {
        padding-left: 8%;
        padding-right: 8%;
    }
}

section.second {
  
  background: rgb(246,246,246);
  background: linear-gradient(225deg, rgba(246,246,246,1) 50%, rgba(255,255,255,1) 50%);
  padding-left: 22%;
  padding-right: 22%;
}

@media screen and (max-width: 576px) {
    section.second {
        padding-left: 10%;
        padding-right: 10%;
    }
}

section.third {
  background-color: white;
  padding-left: 20%;
  padding-right: 20%;
}

@media screen and (max-width: 576px) {
    section.third{
        padding-left: 8%;
        padding-right: 8%;
    }
}

nav.navbar {
  width: 100%;
  height: 60px;
  
}
@media screen and (max-width: 576px) {
    nav.navbar {
      height: 90px;
    }
  }

nav.navbar > div.container-fluid {
  padding: 0;
}

nav.navbar > div.container-fluid > a.navbar-brand {
  margin: 0;
}

.header ul {
  margin-left: 20%;
  font-weight: 600;
}

.header ul > li > a {
  padding: 2px 8px;
  font-size: 20px;
  font-weight: bold;
}

.header ul > li:last-child > a {
  background-color: #f39c12;
  border-radius: 3px;
}

h4.brand {
  display: inline;
  background-color: #2a4374;
  padding: 4px 10px;
}

h2.title {
  color: #355592;
  font-size: 25px;
  text-align: center;
  font-weight: 800;
}

.header-content {
  padding-top: 10%;
  padding-bottom: 8%;
}

.header-content h2 {
  font-size: 80px;
  font-weight: 800;
  padding-bottom: 2%;
}

button.sign-up {
  margin-left: 20px;
  background-color: #2a4374;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 20px;
}

button.details {
  margin-left: 80px;
  background-color: transparent;
  color: white;
  border: #fefefe 1px ridge;
  padding: 10px 25px;
  font-size: 20px;
}

p.white {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  color: white;
}

div.boxs {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 20px;
}

div.con-item {
  width: 250px;
  height: 100px;
  background-color: white;
}


@media screen and (max-width: 576px) {
    div.boxs {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

@media screen and (max-width: 576px) {
    div.con-item {
      width: 300px;
      height: 100px;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
}

div.con-item > h2 {
  padding-top: 10px;
}

div.con-item > p {
  text-align: center;
  margin: 15px;
  font-weight: 900;
}

.button-border {
  margin: 20px auto 30px;
  width: 75px;
  height: 7px;
  background-color: #f39c12;
  border: none;
  border-radius: 5px;
}

.margin-lr {
  margin: 0 15%;
  text-align: center;

}

.btns {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width:576px) {
    .btns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 10px;
        margin-bottom: 40px;
      }
    
}

.buttn {
  position: relative;
  color: white;
  background-color: #355592;
  padding: 10px 3%;
  margin-bottom: 5%;
  border: none;
  border-radius: 3px;
}

.buttn-focus {
  background-color: #f39c12;
}

.buttn-focus::after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: calc(50% - 10px);
  top: 100%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 7px solid #f39c12;
}

.btn-text {
  display: none;
  gap: 10%;
  margin-bottom: 5%;
}


.btn-text.active {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
    .btn-text.active {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 576px) {
    div.image>img {
        min-width: 450px;
        width: 450px;
    }
}

.info-text {
  text-align: justify;
  margin-bottom: 30px;
}

div.image {
  min-width: 500px;
  width: 500px;
  margin-top: 5%;
}
.image > img {
  height: auto;
  max-width: 100%;
}

.calculator-con {
  display: flex;
  justify-content: space-between;
  column-gap: 10%;
  margin-top: 5%;
}

@media screen and (max-width: 576px) {
    .calculator-con {
        display: flex;
        flex-direction: column;
    }
}
.calculator-text {
  width: 500px;
}

.calculator-img {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-img > img {
  width: 500px;
}

.calculator-info {
  text-align: justify;
}

.slider {
  appearance: none;
  width: calc(100% - 140px); /* Full-width */
  height: 25px; /* Specified height */
  background: transparent; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity 0.2s;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
    .slider{
        
        width: calc(100% - 120px); /* Full-width */
        margin: 0 auto;
    }
    
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: ew-resize;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f39c12;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.trainers {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
    .trainers{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    
}

.img-container,.img-container-2 {
  position: relative;
  display: inline-block;
}

.img-container img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 3px solid #f39c12;
  border-radius: 10px;
}

.img-container::before,
.img-container::after {
  content: "";
  position: absolute;
  height: 8px; 
  width: 100px; 
  background-color: #2a4374;
  left: 0;
  right: 0;
  transform: translateX(100%);
}

@media screen and (max-width: 576px) {
    .img-container::before{
        left: calc(50% - 150px);
    }
    .img-container::after{
        left: calc(50% - 150px );
    }
}

.img-container::before {
  top: -8px;
}

.img-container::after {
  bottom: -2px;

}

.img-container-2::before,
.img-container-2::after {
  content: "";
  position: absolute;
  height: 100px; 
  width: 8px; 
  background-color: #2a4374;
  top: 0;
  bottom: 0;
  transform: translateY(calc(100% + 30px));
}

.img-container-2::before {
  left: -8px;
}

.img-container-2::after {
  right: -8px;
}

.trainer-info {
    display: none;
    position: absolute;
    width: 280px;
    height: 90px;
    left: calc(0% + 13px);
    top: calc(50% + 80px);
    background-color: #2a4374;
    color: white;
    text-align: center;
    
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}


.trainer-info>.trainer-text {
    padding-top: 15px; ;
}

.img-container-2:hover::before {
  content: "";
  position: absolute;
  height: 170px; 
  width: 8px; 
  background-color: #2a4374;
  top: 0;
  bottom: 0;
  transform: translateY(calc(100% - 40px));
}

.img-container-2:hover::after {
  content: "";
  position: absolute;
  height: 170px; 
  width: 8px; 
  background-color: #2a4374;
  top: 0;
  bottom: 0;
  transform: translateY(calc(100% - 40px));
}

.img-container:hover::after {
  content: "";
  position: absolute;
  height: 8px; 
  width: 220px; 
  background-color: #2a4374;
  left: 0;
  right: 0;
  transform: translateX(calc(50% - 65px));
}

@media screen and (max-width: 576px) {
    .img-container:hover::after{
        transform: translateX(calc(50% + 20px));
    }
}

.img-container:hover .trainer-info {
    display: inline;
}

.purchase {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 576px) {
    .purchase{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.card{
        max-width: 290px;
        margin-bottom: 10px;
    }
}

.purchase>.card{
-webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.55); 
box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.55);
}

.purchase>.card>img{
   max-width: 290px;
}

.card>div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    
}
.medium-font{
    font-size: 20px;
}

.little-font{
    font-size: small;
}

.review-con{
    display: flex;
    column-gap: 100px;
}
@media screen and (max-width: 576px) {
    .review-con{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    
}
.review-top {
    display: flex;
    gap: 10px;
}

.review-top>.review-img>img{
    border-radius: 50%;
    height: 50px;
}

div.comment {
    background-color: #2a4374;
    position: relative;
    color: white;
    padding: 10px 10px;
    margin-top: 10px;
}
div.comment::before{
   content: "";
   position: absolute;
   width: 50px;
   height: 50px;
   background: linear-gradient(to top right, transparent 50%, transparent 50%, #8096BE 50%, #8096BE 100%);
   top: calc(100% );
   left: 0;
   
}

div.comment::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: linear-gradient(to top left, transparent 50%, transparent 50%, #8096BE 50%, #8096BE 100%);
    left: calc(100% - 50px);
    top: calc(100% );
    
 }

 .contact-info {
    display: flex;
    column-gap: 20px;
 }

 .appointment {
    display: flex;
    flex-direction: column;
    gap: 30px;
 }
 
 .con {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
 }

 @media screen and (max-width: 576px) {
    .con{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    .contact{
        min-width:450px;
    }
    .map{
        min-width: 450px;
        height: 450px;
    }
 }

.contact {
    width: 45%;
}
.map{
    width: 45%;
    
}
 section.footer {
    background-color: #355592;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
  }

  .footer-list{
    display: flex;
    justify-content: space-evenly;
  }

  .footer {
    list-style: none;
    padding: 0;
  }
  @media screen and (max-width: 576px) {
    section.footer {
        padding: 20px;
    }
    .footer-list{
        display: flex;
        justify-content: space-around;
    }
  }


  .footer>li>a {
    text-decoration: none;
    color: white;
  }

  .input-bg{
    background-color: #f0f8ff;
    border: none;
  }

  .input-size{
    height: 35px;
  }